!!!
%html
  %head
    %link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    %link(rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons")
    %script(defer src="https://code.getmdl.io/1.2.1/material.min.js")
  %body
    <app-root>Loading...</app-root>
    =javascript_include_tag('inline.bundle')
    =javascript_include_tag('polyfills.bundle')
    =javascript_include_tag('styles.bundle')
    =javascript_include_tag('vendor.bundle')
    =javascript_include_tag('main.bundle')
