!!!
%html
  %head
    %link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    %link(rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons")
    %script(defer src="https://code.getmdl.io/1.2.1/material.min.js")
    =javascript_include_tag('js/vendor.bundle')
    =stylesheet_link_tag 'css/index'
  %body
    #container.container
    =javascript_include_tag('js/index')
