dialog.mdl-dialog(open)
  h4.mdl-dialog__title {{modal.title}}
  .mdl-dialog__content
    p {{modal.message}}
  .mdl-dialog__actions
    button.mdl-button(type="button", (click)="onOkButton()") {{modal.okMessage}}
    button.mdl-button.close(type="button", (click)="onCancelButton()") {{modal.cancelMessage}}
