<ng-container *ngIf="(message$ | async) as message">
  <div class="message success" *ngIf="message.status === 'success'">delete_success</div>
  <div class="message error" *ngIf="message.status === 'failed'">delete_failed</div>
</ng-container>
<a [routerLink]="'/tasks/new'">新規作成</a><br />
<table class="l-tasks">
  <thead>
    <tr>
      <td></td>
      <td>タイトル</td>
      <td>説明</td>
      <td>期限</td>
      <td>削除</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="(tasks$ | async) as t">
      <ng-container *ngIf="t.data.length; else: notFound">
        <tr *ngFor="let task of t.data; trackBy: trackById">
          <td class="m-done"><input type="radio" /></td>
          <td class="m-title">
            <span *ngIf="!task.edit" (click)="edit(task)">{{ task.title }}</span>
            <input type="text" [(ngModel)]="editTask.title" (blur)="update(editTask)" *ngIf="task.edit" />
          </td>
          <td class="m-description">
            <span *ngIf="!task.edit" (click)="edit(task)" class="pre-wrap">{{ task.description }}</span>
            <div
              (blur)="editTask.description = $event.target.innerText; update(editTask)"
              *ngIf="task.edit"
              contenteditable="true"
              class="pre-wrap"
            >
              {{ editTask.description }}
            </div>
          </td>
          <td class="m-due_date">
            <span *ngIf="!task.edit" (click)="edit(task)">{{ task.due_date }}</span>
            <input type="date" [(ngModel)]="editTask.due_date" (blur)="update(editTask)" *ngIf="task.edit" />
          </td>
          <td class="m-delete">
            <app-button (clickEvent)="dialog.open()" buttonSize="small" buttonType="danger">削除</app-button>
            <app-dialog #dialog>
              <div dialog-title>確認</div>
              <div dialog-body>
                削除しますか？ 削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？
                <br />
                削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？ <br />
                削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？ <br />
                削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？ <br />
                削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？ <br />
                削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？ <br />
                削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？ <br />
                削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？削除しますか？ <br />
                削除しますか？
              </div>
              <div primary-button>
                <app-button [buttonType]="'submit'" (clickEvent)="delete(task.id); dialog.close()">削除</app-button>
              </div>
            </app-dialog>
          </td>
        </tr>
      </ng-container>
      <ng-template #notFound> <td colspan="4" class="no-task-message">data not found</td> </ng-template>
    </ng-container>
  </tbody>
</table>
