@import "variables";

.l-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l-header {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #eeeeee;
}

.l-main {
  margin-top: 50px;
}

.sp-hide {
  display: none;
}
