.login {
  width: 50%;
  margin: auto;

  &-message {
    margin-bottom: 10px;
  }

  &-input {
    border: solid #eee 1px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    & > input {
      margin: 0 0 20px 0;
    }
  }
}
