<div class="login">
  <div class="message error login-message" *ngIf="message">{{message}}</div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="login-input">
      <input type="text" class="login-user_name" placeholder="ログインID" name="loginId" required
             formControlName="loginId"/>
      <input type="password" class="login-user_password" placeholder="パスワード" name="password" required
             formControlName="password"/>
      <button class="button submit">ログイン</button>
    </div>
  </form>
</div>
